[2012-04-17 11:55] elemoine opened #1 "loads may fail when features include properties named "type""
`loads(json, object_hook=GeoJSON.to_instance)` fails if json includes features with properties named "type" that reference `null`, strings with non-ascii characters, `"Feature"` or `"FeatureCollection"`. See the examples below.

With `"type":null`:

[code]

With non-ascii chars:

[code]

With `"type":"Feature"`:

[code]

[2012-05-31 14:48] santiagobasulto opened #2 "Don't see data formated acording to GeoJson spec"
Hello guys,

don't know if this is ok, but I was taking a look at GeoJson spec (http://geojson.org/geojson-spec.html) and it defines the data in a different format that what's returned by geojson.dumps()

Are you planning to make it compliant?

[2013-03-09 02:48] sfllaw opened #4 "Please update PyPi"
Please release a new version of geojson. The one on PyPi is missing a lot of the improvements you have on your tree.

Thanks a lot!
-- Simon

[2013-07-10 05:54] frewsxcv opened #6 "Improve the documentation"
Right now the documentation is relatively unorganized and not entirely informative. Possible suggestions for improvement include conversion to markdown (for use on GitHub) or rst (for use on readthedocs). Additionally, a complete page documenting the API would greatly benefit new users. As per [this comment](https://github.com/sgillies/geojson/pull/5#issuecomment-20446501) I'd be willing to take t

[2013-07-29 19:18] #6 closed, assigned to nobody

[2013-09-05 06:11] frewsxcv opened #14 "Create decent documentation"

[2013-09-05 07:12] frewsxcv opened #15 "Convert directory full of doc tests to normal unit tests"

[2013-11-16 21:30] #14 closed, assigned to nobody

[2013-11-17 07:20] #4 closed, assigned to sgillies

[2013-11-19 04:17] #2 closed, assigned to nobody

[2013-12-21 11:40] joakimfors opened #21 "Error when importing native Python JSON"
I get the following error when using an app that depens on GeoJSON:

[code]

Changing "import json" to "import simplejson as json" on the first line in geojson/codec.py fixes the problem.

[2013-12-21 15:42] #21 closed, assigned to nobody

[2014-01-14 22:49] zachcp opened #22 "Polygon Encoding issue"
Hi Geojson Team, thanks for this great library.

I'm having an issue when putting Polygon Features together into a FeatureCollection. Here's an example.

[code]

Notice in  the output that there are two brackets in the polygon `coordinates.` The GeoJson spec for [Polygon ](http://geojson.org/geojson-spec.html#id4) has three brackets whether the Polyogn has holes or not where the expected output wo

[2014-02-28 01:00] micolous opened #24 "CRS on a FeatureCollection is not read or written"
There is existing code inside `python-geojson` in order to handle a CRS attached to an individual point.

There is no way to access or write the CRS for an entire `FeatureCollection`.  This information is presently dropped when read, and it is not possible to write this back to a file.

[2014-02-28 01:26] frewsxcv opened #25 "Document CRS constructors"

[2014-02-28 01:29] #24 closed, assigned to nobody

[2014-03-15 14:06] dezhin opened #26 "Too strict nose dependency"
Dependency `setup_requires=['nose==1.3.0', ]` in setup.py leads to the fact that the package can not be installed in case environment has newer version of nose.

For example: package `foo` have `install_requires=['nose', 'geojson']`. You can't install this package using `pip install foo`, because pip firstly installs `nose==1.3.1` from pypi and after that can't install `geojson` within version con

[2014-03-16 14:28] #26 closed, assigned to nobody

[2014-03-24 23:31] frewsxcv opened #28 "Fix VersionConflict errors present in Travis CI"
More information in #27

[2014-03-26 22:27] tleeuwenburg opened #29 "geojson.Poylgon is not producing 100% correct output"
I have a list of (lon, lat) values, which I'm loading in via

foo = geojson.Polygon(points)

When I use geojson.dumps, I get something like:

{"type": "Polygon", "coordinates": [[152.59136962890625, -28.313671112060547], [152.63580322265625, -28.355209350585938], [152.82142639160156, -28.509435653686523], [153.00906372070312, -28.665510177612305], [153.18821716308594, -28.82417106628418], [152.591

[2014-03-26 23:10] #29 closed, assigned to nobody

[2014-04-13 04:30] frewsxcv opened #30 "Document API without examples"

[2014-04-20 04:41] #28 closed, assigned to nobody

[2014-04-20 04:41] #15 closed, assigned to nobody

[2014-08-18 16:47] sgillies opened #37 "Counter-clockwise polygons and dateline-crossing bounding boxen"
@frewsxcv 2 draft-geojson PRs have possible consequences for python-geojson: https://github.com/geojson/draft-geojson/pull/42, https://github.com/geojson/draft-geojson/pull/42. The first recommends counter-clockwise winding for exterior rings of polygons (aka right-hand rule) and the second makes a recommendation that bounding boxes be [west, south, east, north] instead of [min(long), min(lat), ma

[2014-09-26 20:53] mharnold opened #38 "geojson.load() chokes on non-ascii property keys"
The following input data causes geojson.load() to fail with:

[code]

data.geojson:

[code]

bug.py:

[code]

The following fix works for me:
In site-packages/geojson/base.py, in the to_instance method of GeoJson replace:

[code]

with:

[code]

[2014-09-29 04:59] #38 closed, assigned to nobody

[2014-09-30 04:08] frewsxcv opened #40 "Stop allowing imports from base geojson/__init__.py"
Despite being more concise, it's a bad practice. This is backwards incompatible.

[2014-09-30 04:11] frewsxcv opened #41 "Stop allowing property access via __getitem__/__setitem__"
Backwards incompatible change

[2014-09-30 04:40] frewsxcv opened #42 "map_coords should return a python-geojson object geometry object instead of dictionary"

[2014-10-05 19:15] frewsxcv opened #44 "Add PEP8 (or flake8) to .travis.yml"

[2014-10-05 19:15] #1 closed, assigned to nobody

[2014-10-05 19:24] frewsxcv opened #45 "Decoder assumes GeoJSON factory as properties "type" is GeoJSON object"
e.g.

[code]

[2014-10-06 23:04] #44 closed, assigned to nobody

[2014-11-20 20:48] phobson opened #49 "Numpy scalars don't work in feature properties"
I noticed that the `json` library in Python 3.3 (and likely other versions) isn't playing nice with
numpy scalars. Given the GIS ecosystem's affinity for numpy, I'm curious if:
1. if this has come up before and
2. it's something we could shield users from (via some form of sanitizer)

Consider the following:

[code]

[2014-11-21 01:47] #49 closed, assigned to nobody

[2014-11-27 14:42] skj3gg opened #50 "consider PEP 257 compliance"
Some people don't like it (or don't care) and some do, so I wanted your opinion on being [PEP 257](https://www.python.org/dev/peps/pep-0257/) complaint before taking the time to write all the doc strings.

[2015-01-12 01:55] chrisvoncsefalvay commented on #50
I've got some time to work on this and I've gotten a lot of value out of this, so it's only fair I give some back...

[2015-01-12 01:56] skj3gg commented on #50
+1 Go for it!

[2015-01-16 01:58] #50 closed

[2015-06-14 12:28] hyperknot opened #55 "Allow constructing objects like Feature(feature)"
In Python most object support creating a new object from an old one, (AFAIK by doing a copy operation), by constructing it in the form of:

[code]

In geojson it is not supported. If I try to do:

[code]

It creates a broken object like:

[code]

This would be especially important as geojson is inheriting from `dict`, so ideally it should behave in a similar way.

[2015-06-27 10:09] rowanwins opened #59 "Generate random geojson"
Hey everyone,

Thanks for a great python library. Just wondering if you'd be interested in extending it to support generating random features?  eg create me a linestring.

[code]

I'd be happy to attempt to make a start even though I dont entriely know what Im getting myself in for!

Cheers,
Rowan

[2015-06-27 15:21] grotewold commented on #59
I'm not against the idea. Though I think it should look like:

[code]

[2015-06-27 16:59] frewsxcv commented on #59
Sounds good to me! I think it would be good to use @grotewold's suggestions:

* Make it a single function that takes an argument specifying which GeoJSON object type
* Put it in `geojson.utils`

Let us know if you need any help

[2015-06-28 03:52] rowanwins commented on #59
Gday @grotewold & @frewsxcv

Thanks for the advice, certainly happy for it to sit within geojson.utils . If all goes well I might have a few extra arguments around things like number of vertices, number of features etc.

Anyway I'll keep you posted, Im no python guru so this is a fun little project to test my skills and contribute something useful at the same time.

Cheers
Rowan

[2015-06-28 05:41] grotewold commented on #59
Excited! Good luck and welcome!

On Sat, Jun 27, 2015 at 11:52 PM, Rowan Winsemius
<notifications@github.com> wrote:

[2015-06-29 12:56] rowanwins commented on #59
Well @grotewold and @frewsxcv I think I'm making some good progress. I've got my function setup which accepts the following params so far
- featureType
- numberFeatures
- numberVertices

Mostly fairly self-explanatory, ask for a point get a point, if you ask for 20 points then you get a geometry collection of points, or you can ask for a line with 10 vertices.

The trickiest thing Im running into

[2015-06-30 13:12] rowanwins commented on #59
Hi @grotewold & @frewsxcv ,

Well I've had some success and so have forked your repo and made a [branch for you to look at](https://github.com/rowanwins/python-geojson/tree/generateRandom).

For example
[code]
It's perhaps not entirely optimised for those multi-feature collections yet but its at least returning valid geojson.

My biggest issue is around the polygon creation, its kind of working by

[2015-06-30 16:49] frewsxcv commented on #59
Awesome! I'll check this out later today after work. It might be helpful to open a pull request so we can comment on it directly. If you need help with that let us know. Thanks again!

[2015-07-07 15:09] petrrr opened #61 "tests: include data.geojson into the PyPI distfile"
I realise that `data.geojson` seems not to be part of the PyPI distfile. This results in one test to fail, so I'd propose to include this file as well. I guess the fix is quick and just about modifying the `MANIFEST.in`. I also would propose to bug fix release after fixing this.

[code]

[2015-07-13 13:54] #61 closed

[2015-07-13 13:59] frewsxcv commented on #61
Thanks for the report; released in version 1.2.2

https://pypi.python.org/pypi/geojson/1.2.2

[2015-08-11 13:24] frewsxcv commented on #59
Completed in #60

[2015-08-11 13:24] #59 closed

[2015-10-19 07:24] MatthiasBach opened #66 "Release 1.3.1 missing in source repository"
Hi,

I just noticed that release 1.3.1 has been pushed to PyPI, however the source published here claims to still be 1.3.0. Could you please push the missing changes and the tag?

Regards,
Matthias

[2015-10-19 12:02] frewsxcv commented on #66
Ah, thanks for pointing this out. I forgot to push everything to GitHub. This should be fixed now.

[2015-10-19 12:02] #66 closed

[2015-11-29 01:03] doctortoffu opened #71 "Circular reference on module import"
Hello there,

I'm experiencing an endless sequence of Import Errors because there's several circular references between base.py, codec.py, factory.py and mapping.py.

I'm at the end of my tether trying to make them work as they are so I reckon I'll just merge those files into one.

I'd recommend for you to rearrange the classes in a way that prevent this from happening.

Anyway, thanks for making

[2016-01-28 17:50] ChrisBarker-NOAA opened #73 "Add a __version__ attribute."
It's really nice if packages maintain a __version__ attribute -- not strictly required, but a pretty common convention these days.

You might want to use versioneer to keep everyting in sync:

https://github.com/warner/python-versioneer

[2016-01-28 20:30] #73 closed

[2016-01-28 20:33] frewsxcv commented on #73
version 1.3.2 was just released that includes this request

[2016-04-23 15:36] disarticulate opened #75 "geojson.map_coords.__doc___ confusing"
I'm doing this test case:
`print(geojson.map_coords.__doc__)`

[code]

I expected print(x) to bu a tuple? As the doc says 'after applying the provided function to the tuples. Am I missing something? My conversions.LFtoLongLat expect a tuple, as I'm doing an affine transformation.

[2016-04-23 20:21] disarticulate commented on #75
It looks like I don't understand the underlying map issue.

[2016-04-24 12:56] frewsxcv commented on #75
[The source for reference](https://github.com/frewsxcv/python-geojson/blob/bfea4a814632806761093eafcd50de27ec013de7/geojson/utils.py#L43-L58)

[Also the documentation in the readme](https://github.com/frewsxcv/python-geojson#map_coords)

[code]

This code causes `func` to get applied on *every* numeric value within a coordinate for all `coordinates`.

If it were:

[code]

Then it would like you sa

[2016-04-24 16:22] disarticulate commented on #75
I've added two pull requests. One to update the documentation to clarify the dimension of the mapping function. Another with a general utility based on the mapping function to take a function which operates on tuples.

[2016-04-24 16:22] #75 closed

[2016-05-08 02:10] nchammas opened #77 "Utility method to calculate area from geometry"
Would it be appropriate to add a utility method to this library that calculates the area of GeoJSON polygons and multipolygons?

I can port it from [this Mapbox Javascript library](https://github.com/mapbox/geojson-area).

[2016-05-08 16:12] frewsxcv commented on #77
I think any geometric operations and analysis is beyond the scope of this library. This library is just for dealing with the GeoJSON format. If you want to perform an operation like area, I recommend you look at [shapely](https://github.com/Toblerity/Shapely).

http://toblerity.org/shapely/manual.html?highlight=area#object.area

This library (python-geojson), implements the geo interface, so you s

[2016-05-08 16:12] frewsxcv commented on #77
Thanks for the idea though!

[2016-05-08 16:12] #77 closed

[2016-05-08 16:28] nchammas commented on #77
OK, thanks for the pointer.

[2016-07-15 21:31] lafrech opened #79 "Point with 3 coordinates or more does not pass validation while valid as per the GeoJSON specs"
Please excuse me if I'm mistaken, but as I was reading the GeoJSON specs, I came accross a paragraph mentioning positions with [more than two elements](http://geojson.org/geojson-spec.html#positions):

In python-geojson's validator, this is explicitly forbidden:

[code](https://github.com/frewsxcv/python-geojson/blob/master/geojson/validation.py#L28):

[code]

[tests](https://github.com/frewsxcv/p

[2016-07-18 15:17] lafrech opened #80 "Add __getitem__ and __setitem__ to provide direct access to coordinates"
Assuming

[code]

If would be convenient to be able to write

[code]
rather than

[code]

Is this something you would consider?

I can send a PR.

[2016-07-18 15:30] frewsxcv commented on #80
You should also be able to do `p.coordinates[0]`. I don't think we need another way to get the coordinates. Thanks for the idea though!

[2016-07-18 15:30] #80 closed

[2016-07-18 15:41] lafrech commented on #80
Yes, I noticed that. It's a bit better.

My data model has a "position" attribute which is a `geojson.Point`. Currently, I need to write

    my_object.position.coordinates[0]

which I'd happily simplify into

    my_object.position[0]

This is not really a big deal, and I guess I could monkey patch geojson geometries or just live with it.

[2016-07-18 15:43] frewsxcv commented on #80
There can be other properties on a `Point` besides `coordinate`, so I think it wouldn't be *too* obvious which one you're indexing into.

[2016-07-18 15:48] lafrech commented on #80
Fair enough. I thought `coordinates` was the only list-like attribute, so it wouldn't be ambiguous.

Sorry for the noise.

[2016-07-18 15:49] frewsxcv commented on #80
All good, no worries! Definitely a good idea that was worth considering :)

[2016-07-20 02:45] frewsxcv commented on #79
You are correct. The validation logic should allow for `>= 2` elements for each position.

[2016-07-20 09:38] lafrech commented on #79
Maybe a `_dimension` attribute could be added to `GeoJSON`. It would be set in `__init__()`, defaulting to `None`.

The validation logic would check that a position is made of `>=2` elements if `_dimension` is `None`, or that it is made of exactly `_dimension` otherwise.

This way, the user could validate that the object has the required dimension.

Adding this feature would allow compliance with

[2016-07-21 12:21] frewsxcv commented on #79
I'd like to keep this library as close to the spec as possible, and since the spec doesn't mention 'dimension' anywhere relevant, I'm hesitant to include such a feature.

[2016-07-21 12:35] lafrech commented on #79
I understand.

This is something a user can add by subclassing GeoJSON, anyway. People relying on current validation will probably have to do something like this.

[2016-08-01 18:03] 0x11 opened #82 "Unable to validate FeatureCollection"
Hello,

I was trying to see whether the is_valid would work for feature collection. I tested using the [Example GeoJSON Feature Collection](http://geojson.org/geojson-spec.html).

[code]
However it seems that it returns valid for just about anything

[code]

Is there a different way to go about this or is FeatureCollection validation not supported at this moment?

[2016-08-02 02:09] frewsxcv commented on #82
That looks to be a bug. [This is the problematic line](https://github.com/frewsxcv/python-geojson/blob/94410f3eb97f32528ba4e703640cfda0d6f96259/geojson/validation.py#L65). This should probably return an error.

[2016-08-02 02:09] frewsxcv commented on #82
Thanks for the bug report! 🐛

[2016-08-02 16:46] 0x11 commented on #82
@frewsxcv No problem, glad to help! Does this mean however that all validations are in effect not working as an empty string is returned every time?

Also, would it be a better idea to use a boolean instead of a string for 'valid' ?

[2016-08-02 16:51] frewsxcv commented on #82
From what I can tell, we return an empty string if the validation is successful or if we've encountered an unknown type. I'm not a huge fan of the current format personally, so if you think you know a better format for this, let me know. It might make sense to have a new class `ValidationResult` instead of just using a `dict`.

Yes, a boolean for that value would definitely be an improvement.

[2016-09-12 13:09] abruski opened #83 "Unicode escape"
Is there equivalent to ensure_ascii=False in this module? It converts utf-8 text to escape sequence.

[2016-09-12 13:11] frewsxcv commented on #83
All parameters passed to `geojson.dumps` will also be passed to `json.dumps`, so you should be able to pass `ensure_ascii=False`:

https://github.com/frewsxcv/python-geojson/blob/bfea4a814632806761093eafcd50de27ec013de7/geojson/codec.py#L31-L33

Does this answer your question?

[2016-09-12 18:28] frewsxcv commented on #83
Reopen if this is still an issue.

[2016-09-12 18:28] #83 closed

[2016-09-14 13:07] frewsxcv opened #84 "Add option to allow specifying floating point precision on geojson.dump/geojson.dumps"
Just received an email with this request:

[2016-09-14 13:09] frewsxcv commented on #84
From what I can tell, there's no way to do this via `json.dumps`, so I'm not entirely sure how one would go about this.

[2016-09-14 13:24] sgillies commented on #84
@frewsxcv `json.dumps` will not write excess places of precision for rounded floats:

[code]

In my Fiona project, I'm doing this in Cython: https://github.com/Toblerity/Fiona/blob/master/fiona/_transform.pyx#L151-L180. It could be ported?

[2016-09-14 14:31] frewsxcv commented on #84
`round` returns a `String`, which might not be what the user wants? I'll think about it.

[2016-09-14 14:35] sgillies commented on #84
No, `round()` returns a float. `json.dumps()` returns a string.

[2016-09-14 14:38] frewsxcv commented on #84
You're right, not sure what I was thinking. *sips coffee*

That looks like a good solution then.

[2016-09-16 13:12] lafrech commented on #82
While we're at it, maybe `is_valid()` should return a boolean, as this is what the name suggests, and `validate()` or something else could return a structure with validation message. In this structure, I also think that a boolean is better than a 'yes'/'no' string (which looks like an anti-pattern).

Another pattern (inspired from [Marshmallow](http://marshmallow.readthedocs.io/en/latest/quickstar

[2016-09-17 14:59] xorbug opened #85 "Refer to RFC 7946 in documentation"
python-geojson library documentation, here on github and on pypi [0], still refers to the original spec [1], which has been obsoleted by RFC 7946 [2].
Thank you.

[0] https://pypi.python.org/pypi/geojson/
[1] http://geojson.org/geojson-spec.html
[2] https://tools.ietf.org/html/rfc7946

[2016-12-02 05:16] crccheck opened #86 "Included JSON encoder can't handle Decimal"
#### Example

[code]

Expected behavior:
[code]

#### Workaround
[code]

[2016-12-02 18:58] frewsxcv commented on #86
Serializing `Decimal`s also doesn't work for Python's built-in JSON encoder. For some people, it makes sense to encode `Decimal`s as JSON floats and for others it makes sense to encode as strings. I'm leaning towards suggesting what was said in https://github.com/frewsxcv/python-geojson/issues/49 and make your own encoder to treat `Decimal` however you want it to be treated.

[2016-12-02 19:11] crccheck commented on #86
Yeah, I didn't test it, but I'm afraid that going to float then JSON would change the precision of the numbers. That's happened to me in the past. Since precision is important for lat/lng, and I know [Django's JSONEncoder](https://github.com/django/django/blob/master/django/core/serializers/json.py) works with decimal, I opted to stay in `Decimal` as long as possible.

[2016-12-03 02:30] frewsxcv commented on #86
I'd recommend subclassing python-geojson's encoder and adding in the appropriate logic to encode `Decimal`s.

[2016-12-03 02:30] #86 closed

[2016-12-03 02:30] frewsxcv commented on #86
If you need help with any of that, let me know.

[2016-12-22 22:01] gfhuertac commented on #79
Just to comment
It should not be >= 2 but 2 or 3 according to the latest RFC (7946).
https://tools.ietf.org/html/rfc7946#section-3.1.1

[2016-12-28 20:08] udos commented on #79
@frewsxcv , was really glad to find this library some time ago but now I miss the 3rd element badly.
I'm using it to generate LineStrings for gps trails in which the 3rd element would be the elevation... without the 3rd element it is impossible to use the lib in this context.

please reconsider extending it because it would then be covering also this part of the GeoJSON specs.
p.s.: thumbs up for

[2016-12-28 20:24] frewsxcv commented on #79
I don't have much time to look into this right now, but if someone wants to open a PR for this, I'll gladly review it.

On a similar note, if anyone wants commit access to this repository if they want to maintain, please let me know and I'll happily add you. Alternatively, I could also create a python-geojson GitHub organization, transfer the repository, and add people there if people prefer that.

[2017-02-03 01:39] lucagiovagnoli opened #88 "Computing Bounding Boxes"
Is there a way to compute bounding boxes for Geometries and/or Features?
If not, would you consider merging a potential PR adding this functionality? (in utils or even as object property, we can discuss that).

[2017-02-03 01:41] frewsxcv commented on #88
Great idea, though I'm going to redirect you to my answer in https://github.com/frewsxcv/python-geojson/issues/77 regarding geospatial operations.

[2017-02-03 01:41] #88 closed

[2017-02-03 18:26] lucagiovagnoli commented on #88
Thanks for the pointer!

[2017-02-09 09:04] byjott opened #89 "setuptools is listed as runtime dependency"
The `install_requires` argument in `setup.py` lists `setuptools` as dependency. However, only *runtime* dependencies should be included there.

However, having `setuptools` as dependency can be a problem, because installing this package then also installs `setuptools` and the packages `setuptools` depends on, although they are not required. This situation (installing more packages than required) i

[2017-02-11 16:12] #89 closed

[2017-03-20 14:56] Guts commented on #37
I'm pretty interested in that king of feature.

I read that's possible with [utils.map_coords](https://github.com/frewsxcv/python-geojson#map_coords). Is that right? Maybe I can help but I don't know how...

[2017-04-25 01:19] #79 closed

[2017-04-25 01:19] frewsxcv commented on #79
Fixed in #92

[2017-04-25 17:51] udos opened #94 "Support for Python 3.6"
python 3.6 is out and the lib should support it

[2017-04-27 02:26] frewsxcv commented on #94
https://github.com/frewsxcv/python-geojson/issues/95

[2017-04-27 02:26] #94 closed

[2017-04-29 23:23] frewsxcv commented on #85
https://github.com/frewsxcv/python-geojson/issues/96

[2017-04-29 23:23] #85 closed

[2017-04-29 23:24] frewsxcv opened #97 "Update library to conform to new geojson spec"
https://tools.ietf.org/html/rfc7946

previously, the geojson spec had a 'crs' object type, now it doesn't we should remove it from this project.

more info here http://www.macwright.org/2016/11/07/the-geojson-ietf-standard.html

[2017-07-28 14:30] zoranbosnjak commented on #82
I have created a pull request that fixes this bug.
https://github.com/frewsxcv/python-geojson/pull/98
The ``obj.validate()`` method and ``ValidationResult`` as mentioned above would be even cleaner solution, but it's easy to build them on top of this pull request.

[2017-08-01 13:40] schaemar opened #99 "FeatureCollection validation: FeatureObjects in "features" should contain members"
d = {
	"type" : "FeatureCollection",
	"features" : [{}]
}
geojson.is_valid(d)

It's returning "yes" but I would expect:
(source:http://geojsonlint.com/)
Line 3: GeoJSON features must have a type=feature member
Line 3: "properties" member required
Line 3: "geometry" member required

[2017-08-15 19:18] emiliom commented on #84
Has this feature been implemented? I assume not, but checking just in case. Thanks.

[2017-08-15 19:39] frewsxcv commented on #84
It hasn't been implemented yet, but if someone had time to implement it, I'd gladly review+merge it

[2017-08-19 21:43] ocefpaf opened #100 "Source distribution"
It would be nice to get a source distribution for version 2.0.0 in either PyPI or GitHub. As of now there is only wheels on PyPI.

[2017-08-19 21:48] frewsxcv commented on #100
woops, sorry about that! done

[2017-08-19 21:48] #100 closed

[2017-08-19 21:48] ocefpaf commented on #100
Thanks!

[2017-08-22 18:27] hrfuller opened #101 "GeometryCollections do not implement `is_valid`"
Would you be interested in a PR to fix this? I would implement it such that a GeometryCollection is valid IFF all its sub geometries are valid.

[2017-08-23 01:37] frewsxcv commented on #101
Sounds reasonable to me!

[2017-08-30 00:24] #101 closed

[2017-09-11 01:33] JesseWeinstein commented on #55
Attempting to address this in PR #104

[2017-09-11 01:34] JesseWeinstein commented on #41
Er, should this still be open?

[2017-09-11 21:17] medwig opened #105 "loads() returns inconsistent types"
`python -c "import geojson; geojson.loads('{}').is_valid"`
AttributeError: 'dict' object has no attribute 'is_valid'

If loads(x) succeeds it returns a geojson.feature.____ object, otherwise it returns the result of json.loads(x).

I recommend it always return a feature object.

[2017-09-16 13:58] frewsxcv commented on #105
Sounds good to me, though we'll need to do a major version bump for this, which is fine

[2017-09-16 20:19] frewsxcv commented on #41
right now with this library, one can do both of these:

[code]

when i first opened the issue, i had interest in wanting to disallow indexing the with `['type']` for the `geojson.feature.Feature` object (removing the `__getitem__` implementation). i don't feel strongly it should be removed, i'm okay keeping it if people want it. what do you think?

[2017-09-16 21:03] JesseWeinstein commented on #41
I think it's fine to leave it; I'm in favor of more rather than less ways to access things.

[2017-09-16 21:04] frewsxcv commented on #41
sounds good to me 👍

[2017-09-16 21:04] #41 closed

[2017-09-17 14:46] frewsxcv commented on #55
completed in https://github.com/frewsxcv/python-geojson/pull/104. will release a new version shortly

[2017-09-17 14:46] #55 closed

[2017-11-29 15:46] JanLikar opened #108 "map_coords for tuples"
I think it would be very useful to have a function that would work similar to the `geojson.utils.map_coords`, but would call the mapping function with tuples of coordinates.

This would, for instance, enable writing simple converters between projections.

[2018-01-25 16:49] whelks-chance commented on #71
Very old thread, but did you figure this out? Importing geojson is complaining about failing to find codecs, which imports geojson etc etc

There may be another conflict with django-geojson, which I'm also going in circles with.

[2018-04-23 19:53] dharasty commented on #108
I came to this same conclusion less than 10 minutes after using `geojson`.

I'd be happy to write this.

[2018-04-23 19:55] dharasty commented on #42
I think this is already done; seems to be implemented this way as of 2.1.0.

[2018-04-23 20:11] dharasty opened #110 "map_coords() should work recursively on Feature and FeatureCollection"
`map_coords()` has an obvious use case in transforming the geometry of features.

It should operate on Features and FeatureCollections, as well.

[2018-04-23 20:16] dharasty opened #111 "using a valid geojson dictionary in a contructor"
There are cases where I have a dictionary that was decoded from valid JSON, and the JSON happened to be a GeoJSON object.  It would be convenient to have a "load()" function that turns those in to instances of the `geojson` classes.

In other words,
If I have this:
[code]
Now I have to do this:
[code]
Would like to do this:
[code]

[2018-04-23 20:28] dharasty commented on #111
Found this was already there!  (Had to read the code; was not in the [docs from here](https://pypi.org/project/geojson/).)

Use:
```geom1 = geojson.GeoJSON.to_instance(valid_geojson_decode)```

[2018-04-23 20:28] #111 closed

[2018-04-23 20:32] dharasty commented on #84
This can be accomplished with the current API via this:

[code]

[2018-05-07 01:26] frewsxcv commented on #108
There's [a PR open for this](https://github.com/frewsxcv/python-geojson/pull/109), but the tests are currently failing, in case anyone is interested in picking it up

[2018-05-16 23:47] JanLikar commented on #108
See #112.

[2018-05-24 16:18] ahokinson opened #113 "Incorrect Expected Type for Classes with Coordinate Lists"
I believe the type hinting is incorrect for classes where coordinates are defined by multiple points.

The [documentation](http://python-geojson.readthedocs.io/en/latest/#linestring) indicates that the following code should work.
[code]

When run, it does seem to work as intended. However, it produces a weak warning:
`Expected type 'tuple', got 'List[Tuple[Any,Any]]' instead`.

Because `LineString

[2018-05-25 02:33] #113 closed

[2018-06-15 20:51] ChrisBarker-NOAA commented on #37
I just came here looking for just this feature. It would be good for the `.valid` attribute to check for ccw.

And (maybe optionally) it could be fixed when creating the Feature

Here is some code for checking winding order:

https://gist.github.com/ChrisBarker-NOAA/6fc7de7557856c1351a27df2bb281df5

maybe I'll do a PR one of these days -- but how/where would you like it done?

Automatically?

Chec

[2018-06-15 21:10] ChrisBarker-NOAA commented on #37
NOTE: I was using my pyton code in the gist just now, and for one case of a lot of large polygons -- it's pretty darn slow:

writing the geojson went from 624 ms to 2.4 s if I added the is_clockwise() check.

So probably better not to have it done automatically.

[2018-08-09 17:35] biomiker opened #115 "Documentation should mention compatibility with core json functions"
I recommend adding something like the following to the section "GeoJSON encoding/decoding", it's a powerful option that many users may not know about.

[2018-08-25 15:44] #115 closed

[2018-10-13 14:30] TomGoBravo opened #116 "geojson.utils.coords(FeatureCollection)"
Currently it raises
AttributeError: 'str' object has no attribute 'get'
at
File "/home/thecap/.local/lib/python3.5/site-packages/geojson/utils.py", line 19, in coords
coordinates = obj.get('coordinates', obj)

This is similar to issue 110. I can imagine implementing coords and some of the map_* functions using a common function but it'd be more complex and slower so maybe not worth the effort.

[2019-01-23 11:07] adsultana opened #118 "DeprecationWarning from collections.MutableMapping on module import"
As of Python 3.3, [MutableMapping](https://docs.python.org/3/library/collections.abc.html#collections.abc.MutableMapping) has moved from the `collections` module to `collections.abc`. This now raises a `DeprecationWarning` in Python 3.7, and will stop working altogether in Python 3.8+

[code]

[2019-03-13 17:36] #118 closed

[2019-04-23 13:55] rayrrr commented on #25
CRS is has been removed from the GeoJSON spec.

[2019-04-23 13:55] #25 closed

[2019-04-24 02:16] rayrrr commented on #97
Fixed in PR #124

[2019-04-24 02:16] #97 closed

[2019-05-05 14:59] rayrrr commented on #84
Looking at the [Decimal Degrees](https://en.wikipedia.org/wiki/Decimal_degrees) precision chart, 7 decimal places is the "practical limit of commercial surveying" and 8 is related to "specialized surveying (e.g. tectonic plate mapping)." So, let's go with 8 decimal places as the default; customization can be implemented separately/in parallel.

[2019-06-04 06:52] rayrrr commented on #99
Hi @schaemar, I am the new maintainer of this repo. I am closing this out because the GeoJSON Format spec actually states that it is possible for a FeatureCollection to be empty ([in section 3.3](https://tools.ietf.org/html/rfc7946#section-3.3)). Thanks!

[2019-06-04 06:52] #99 closed

[2019-06-08 12:14] rayrrr commented on #84
I did some more research on the WGS84 Geodetic Datum (the one to which GeoJSON is specifically bound) and it turns out that, according to the [U.S. National Geospatial-Intelligence Agency (PDF link)](http://earth-info.nga.mil/GandG/publications/tr8350.2/tr8350.2-a/Chapter%209.pdf) the accuracy of WGS84 is in the 1 meter range. That puts us in the 5-6 decimal place default range. So we'll go with 6

[2019-07-05 07:32] auvipy opened #129 "Willing to become the Official lifter of this package."
I currently get some payment to maintain some open source packages. I would to also maintain this project dedicatedly so that I can claim some more from the sponsors. need non-objection from other maintainers.

cc: @jezdez

[2019-07-05 08:43] jezdez commented on #129
Hmm, I'm not sure I or the rest of the Jazzband members can provide a "non-objection" to you receiving payment for maintenance of this or any other Open Source license. If you mean with "lifter" the use of the Tidelift subscription, I'm afraid Jazzband projects are not available for collaboration with Tidelift at this time.

The Jazzband guidelines and code of conduct apply, as well as the [3-clau

[2019-07-05 08:50] #129 closed

[2019-07-11 22:18] hramezani commented on #110
What should be done for this issue?

[2019-07-13 02:56] dharasty commented on #110
I just checked the current state of the code, and I think `map_tuples()` does what I propose.
So... OK w/ me to close the issue!

Note: [these docs](https://python-geojson.readthedocs.io/en/latest/#map-coords) don't reference `map_tuples()`.  Why is that?

[2019-07-13 14:26] rayrrr commented on #110
We are making some improvements around the `map_` utility functions and will improve the docs along the way.

[2019-07-13 17:18] dharasty commented on #110
I regularly use projected coordinate systems for calculations (using pyproj4, for example).  I recommend that python-geojson should support this workflow:

Given:
- a pyproj4 projection
- geojson data in lng/lat format

Process:
- a call to map_geometries() or map_tuples() with the projection
- resulting in data in, say, meters in x, y
- do calculations on the projected data (angles, area, etc)
-

[2019-07-13 17:57] rayrrr commented on #110
Hi @dharasty, while the 2008 version of the GeoJSON spec supported multiple Coordinate Reference Systems, the officially adopted RFC standard removed that support and fixes the CRS to WGS84 for all GeoJSON objects. [Section 4 of RFC 7946](https://tools.ietf.org/html/rfc7946#section-4) states:

   processing software is not expected to have access to coordinate
   reference system databases or to h

[2019-07-14 13:03] rayrrr commented on #42
Point of clarification: "Geometry" is an abstract class **and** an abstract concept in the GeoJson spec. It is not an actual Type itself. So, is what we are saying here that whatever Type of object gets mapped, that same Type of object should be returned?

We just did that for the Feature Type (to address #110) so it should be straightforward to extend it to the other Types.

[2019-07-16 21:04] rayrrr commented on #71
If someone could post a gist/code snippet of exactly how this is happening, along with a note about the Python version being used, that would be helpful.

[2019-07-17 21:41] rayrrr opened #132 "cancelled"
Cancelled

[2019-07-18 02:42] #84 closed

[2019-07-18 03:08] #132 closed

[2019-07-18 13:50] rayrrr commented on #71
This is going to be fun.
![geojson-circular-imports](https://user-images.githubusercontent.com/7869818/61462928-7ad10d80-a941-11e9-8529-f1a8d75deb9d.png)

[2019-07-25 11:48] rayrrr commented on #71
FWIW, this only throws import errors in Python 2. `import geojson` (and/or its sub-modules) works fine in Python 3. Still going to remove the circular refs.

[2019-07-25 16:21] doctortoffu commented on #71
Hey there,
Sorry for the very late reply to this thread. It has been in my mind but kept forgetting to reply before.
In the end what I did was to merge all the classes in a single file and that solved the problem. I was using Python 2.7 for that project so I didn't check if it worked fine in Python 3.

In case you may want to check my fix you can find it here (though bear in mind that's code from

[2019-07-25 16:30] rayrrr commented on #71
@doctortoffu thanks! I was trying to reproduce this with Python 2.7 and the current version on PyPi (2.4.1) and was unable to do so. Although some circular refs still exist here, they may not be causing `ImportError` exceptions any more. I know it was a long time ago, but any chance you can reproduce this? Otherwise I am going to just close out this thread for now and add the circular ref removal

[2019-07-25 17:51] doctortoffu commented on #71
Hi @rayrrr,
My guess is that you guys probably solved this problem over this last 4 years, as I see that your code has 155 commits ahead since I forked it out :-)
I reckon you could close this thread for now. At some point I have to update the code of my project to use Python 3.7, which will require quite a bit of rewriting because of several libraries that were not migrated to Python 3. So when I

[2019-07-25 18:09] rayrrr commented on #71
Good stuff, Rigo. `geojson` already supports Python 3.7 so you should be good to go when the time comes. Thanks for letting us know!

[2019-07-25 18:09] #71 closed

[2019-08-12 14:08] rayrrr commented on #22
Direct quote from [RFC 7946 Section 3.1.6](https://tools.ietf.org/html/rfc7946#section-3.1.6):

So, two things:

1. Since rings are _not_ valid GeoJSON geometry objects in the accepted standard, we needn't represent them as such. Polygon coordinates should always be represented in GeoJSON objects as depth 3, even if instantiated with a single depth 2 ring (no holes). I will make that change to the

[2019-08-13 00:37] rayrrr commented on #37
Hi @ChrisBarker-NOAA, new project lead here. Thanks for your input on this! It guided me in a good direction, and it turns out a more efficient algorithm is available.

It's all explained in the [Curve Orientation](https://en.wikipedia.org/wiki/Curve_orientation#Practical_considerations) article on Wikipedia, in the "practical considerations" section.

TL;DR: Regardless of a given linear ring's ca

[2019-08-21 08:20] jornedeblaere opened #133 "to_instance precision"
Due to the update of v2.4.1 to v2.5.0 the signature of the Geometry.__init__ has changed by adding the precision parameter. As we work with precision=7 this causes some troubles with the base.to_instance() function as here no precision parameter is provided and thus in the parsing precision 6 is used. Although this can be overcome by injecting the precission in the input feature.geometry proptery,

[2019-08-22 15:11] mbway commented on #133
in addition, it would be nice to either have some way of passing parameters from the `load()` and `loads()` functions to the geometry objects, such as `precision`. If the parameters were exposed to `to_instance()` then a partially applied call could be passed as the `object_hook` parameter to `load()` but this isn't very user friendly.

[2019-09-06 20:45] youngpm opened #135 "Default Precision Issues"
I understand the rationale with the default precision in v2.5 for those that want smaller geojson files, but I'm curious why the default isn't to behave as in previous versions?  This change isn't backwards compatible in the sense that data read/written with 2.4 will come in different in 2.5, so at a minimum I suppose the version should have bumped to v3.

Is there opposition to changing the defau

[2019-09-19 00:29] rayrrr commented on #135
@youngpm thanks for your input. I will say the default precision feature was added intentionally. https://tools.ietf.org/html/rfc7946#section-11.2 makes a strong argument for defaulting to 6 decimal places in GeoJSON and as the new project lead I decided to go along with it. I would prefer to keep it this way rather than change it to opt-in.

As far as the version number, yes, this should have bee

[2019-09-20 17:54] youngpm commented on #135
@sgillies I would be interested in your opinion, esp as you lead the charge on the RFC!  Would such a change make sense in fiona?

[2019-09-20 18:32] sgillies commented on #135
@youngpm I don't normally consider a change of precision in string output of a floating point number to be a breaking change. Fiona provides a method to round output but doesn't round by default. It's not strict on RFC 7946.

[2019-09-20 22:41] youngpm commented on #135
I guess what bothers me about this change is that you can find yourself in the situation where, by default, upon outputting a geometry the geometry can become invalid (e.g. introduce a crossing or some such).  With the opt in style, you're at least aware that you're fiddling with the values.

[2019-09-22 23:54] sgillies commented on #135
@youngpm this is a good point. I wish I had a good, cheap, all-purpose solution for this. If we always used a fixed precision model we can write out coordinates with no extra precision and no less precision. But if we're using floating point precision the best we can do is limit our precision to the smallest distance between nodes, right? And that's sorta expensive to compute.

[2019-09-23 15:53] youngpm commented on #135
@sgillies Reminds me of this blog on GEOS 3.8 and their new "overlay" engine to handle tricky edge cases.

http://blog.cleverelephant.ca/2019/08/postgis-3-geos.html

[2019-09-24 16:54] youngpm commented on #135
@rayrrr I get it, and I think it is great that you can now control the precision when you dump geometries.  If you're just schlepping geometries across the network so you can view them, it makes a lot of sense to half the packet size.

Let me give an example of why I don't like your new _default_ behavior.  Take a web mercator tile, say (x,y,z) = (0,0,1).  If you calculate the bounds of the tile,

[2019-09-25 00:57] rayrrr commented on #135
@youngpm you make a compelling case. Thank you for the real-world example and for your persistence.

Since interoperability was my initial motivation...I agree that interoperability with web mercator tiles is right up there with interoperability with single-precision float situations. And we live in an increasingly 64-bit world. Reopening this issue; planning to remove the 6 decimal place default

[2019-10-02 22:12] mike-sosa-sofarocean opened #136 "Map_Coords/(Other Map_* operations) loses data and affects original referenced object"
To reproduce the issue take a FeatureCollection that has the example feature
`[{"geometry": {"coordinates": [-142.505993, 27.779555], "properties": {"dogs": 5, "cats": 6, "frogs": 7}, "type": "Point"}, "properties": {}, "type": "Feature"}]`

Then if we run map_coords to divide each coordinate in half
[code]
Then gj_prime will have
`{"geometry": {"coordinates": [-71.2529965, 13.8897775], "type": "P

[2019-10-02 22:14] mike-sosa-sofarocean opened #137 "<Object>.copy() return a dictionary rather than original object"
Of course one can use `copy.copy` or `copy.deepcopy` but it would be nice to have `__copy__` defined to return another object rather than a dictionary.

[2019-10-08 07:00] bk-mtg commented on #135
One other potential consideration here is the ability to set precision at a higher level than the geometry object.  When we ran into this issue here today, we were considering how to deal with it, but the problem is that our codebase creates geojson geometry objects on probably a couple of hundred different lines, and if we needed to go through and update every single one of those to include the i

[2019-10-25 09:56] YuriyRomanyshynUA opened #139 "FeatureCollection validation"
Hi)

[code]
I think it would be better if first check object type and if it is instance of GeoJSON only then call 'errors' method, if it is not, raise exception with appropriate message, because if you put in collection something different from GeoJSON object you will get a confusing error. For example if you append native dict in collection you will get bewildering:

[2019-12-20 09:21] lucianopaz opened #140 "[Feature request] Convert overpass-API json to geojson"
First of all, thanks for this great project!

I'm trying to query data from open street maps using their [overpass API](https://wiki.openstreetmap.org/wiki/Overpass_API). It's easy to get results as a json using their overpass-ql language, but I would really love to convert those into valid geojson.

For example:

[code]

This prints out:

 'generator': 'Overpass API 0.7.55.7 8b86ff77',
 'osm3s':

[2020-01-03 00:59] kylebarron commented on #140
[osmnx](https://osmnx.readthedocs.io/) has a couple functions to parse an Overpass API response

[2020-01-08 12:10] lucianopaz commented on #140
Thanks @kylebarron, but it looks like [osmnx returns a regular json response](https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.downloader.overpass_request) from requests to overpass.

[2020-02-07 09:45] aj-hitchins commented on #135
Precision is not exposed at the `Feature` level - Feature will truncate the coordinates if you're passing a shape (such as `shapely.geometry.Point`) as the geometry:
[code]
Therefore, regardless of whether there is a default of 6 or not, there is no control over specifying a precision at this level. Would you consider exposing the precision at a Feature level or is it expected that geometry object

[2020-02-07 14:05] rayrrr commented on #135
@aj-hitchins Thank you for pointing that out. I think we would all like to specify `precision` _everywhere_ but by default have it do nothing. If you have the skills to do that PR, you are welcome! I will review it. Otherwise I or someone else can give it a try when we have time.

[2020-02-07 14:12] rayrrr commented on #140
Hi @lucianopaz, unfortunately I believe this is out of scope for this package. The purpose of this `geojson` package is to adhere to the GeoJSON spec. Nothing in the spec describes conversion _to_ the spec from arbitrary other formats. Ideally you should let your request be known to the OSM team; I would like to see them build GeoJSON export directly into the Overpass API. Alternately perhaps you

[2020-02-07 14:14] rayrrr commented on #140
Did a bit of searching for you. It looks like https://github.com/tyrasd/overpass-turbo supports GeoJSON export. @lucianopaz can you let us know if that works for you>?

[2020-02-10 07:21] lucianopaz commented on #140
Thanks @rayrrr. Yeah, I felt that this was a bit out of scope of your project. I'll close the issue.

Yes, I'd seen overpass-turbo, and also found [osmtogeojson](https://github.com/tyrasd/osmtogeojson#readme) and [query-overpass](https://github.com/perliedman/query-overpass#readme). I had to work on other stuff first, so I still haven't decided on whether to use these nodejs packages and then coll

[2020-02-10 07:21] #140 closed

[2020-02-11 08:44] aj-hitchins commented on #135
@rayrrr Thanks, I'll give it a go when I have some time.

[2020-02-11 16:50] Tafkas commented on #37
Any updates on this?

[2020-02-19 22:03] arrato opened #141 "GeoJSON data format"
I am using https://wanderdrone.appspot.com/ API for live data driven leaflet map.
To generate similar geojson, I used

that generates
{"geometry": {"coordinates": [-3.68, 40.41], "type": "Point"}, "properties": {}, "type": "Feature"}

On original page, that works correctly with leaflet, geojson looks like this :
{"geometry": {"type": "Point", "coordinates": [93.9898619431257, 10.737359341831866]},

[2020-02-22 23:15] JRHutson commented on #141
Why are you needing to convert the API response to a point?

Are you using the Leaflet-Realtime plugin?

If so, does the format specified in the documentation not work?

https://github.com/perliedman/leaflet-realtime

[code]

[2020-03-02 13:06] Rumpelstinsk commented on #135
`geojson.Point((coordinates[0], coordinates[1]), precision=15)` allows me to set the precision when I'm creating a point.

But how can I set precision when I'm reading a provided geojson? I mean, there is no "precision" argument on: `geojson.loads(my_string_content)`

[2020-03-04 11:23] aj-hitchins commented on #135
@Rumpelstinsk My understanding is that in the current version here, this is not possible as this operation is also handled by the class method here:
[base.py::L115](https://github.com/jazzband/geojson/blob/d1a47d58b4b3f6c450da2136ab0dabbf88fc0779/geojson/base.py#L115) which only creates the geometry object with properties that have come from the geojson dict, therefore if you input a precision key

[2020-03-04 12:09] Rumpelstinsk commented on #135
@aj-hitchins Thanks for the response. I will test it layer, it seems a valid workarround at the moment.
However it's not perfect. It has to parse the same file twice (three times if I have to check it's a valid geojson, using `geojson.loads(string).is_valid` before injecting the property)

It would preferrable, as @rayrrr said, if I could set precision on loads, as the same way, we do on `new Poin

[2020-03-09 12:59] meseta commented on #135
@aj-hitchins @Rumpelstinsk an alternative workaround is to monkey patch the default precision argument in the Geometry class using.

[code]

This affects all subsequent instantiation of Geometry, including its children like Point, and classes that use it like Feature and FeatureCollection

[2020-03-13 15:54] Rumpelstinsk commented on #135
Thanks for the workaround @meseta . I think i prefered that one. I will try it

[2020-03-24 08:19] klausmyrseth commented on #133
We have the same problem, we need to be able to set presicion on to_instance aswell. We are working with high precision devices also in research and need to be able to override the default also in to_presision.

So +1

[2020-04-01 13:55] aj-hitchins commented on #133
You can set the defaults as per this response until there is a fix:
https://github.com/jazzband/geojson/issues/135#issuecomment-596509669

[2020-04-08 14:42] deeplook opened #142 "Adding `geojson.utils.lines()`?"
While I use `geojson.utils.coords()` to get coordinates out of a GeoJSON file, sometimes I want to have lines that I can plot more directly. So I created a function to iterate over such lines, see https://github.com/deeplook/spheromones/blob/master/utils.py#L98. This is used in that repo (with a binder interface) to render GeoJSON as lines on a sphere (there I don't use `geojson.utils.coords()`, b

[2020-04-27 06:15] Rumpelstinsk opened #143 "Points are not being validated correctly"
Check the code snippet. When you initialize a point using coordinates for a line, it says is a valid point:

[code]

Which produces the next exit:

Initializing a Point using coordinates for a  line should returns an invalid point.
According to Apendix A.1 of [RFC 7946](https://tools.ietf.org/rfc/rfc7946.txt)

   coordinates, longitude, and latitude for geographic coordinates)

So, only an array o

[2020-05-07 11:14] Rumpelstinsk commented on #143
I have taken a look to geometry code. I think it can be resolved, with this change.
Instead of:
[code]

Do:
[code]

I assume the third coordinadate are for 3d. But i think RFC 7946 only supports 2D

[2020-05-07 11:55] auvipy commented on #143
can you come with a PR?

[2020-05-08 06:12] Rumpelstinsk commented on #143
@auvipy No problem. I have just made a pull request.

[2020-05-09 14:29] freespace commented on #135
@meseta thank you for the monkey patch! It works for me and now I am not losing precision on exporting geometry from postgis any more.

[2020-05-11 05:36] Rumpelstinsk commented on #143
I saw the pull request was merged. I assume it will be available in the next release, so I close the issue

[2020-05-11 05:36] #143 closed

[2020-06-11 23:46] rayrrr commented on #141
Not sure what's going on here. Could be an issue with the other system, but if it is any use to @arrato or anyone else reading this, the correct way to produce a valid output GeoJSON string is to use the `dumps()` method. Something like:

`geojson.dumps(Feature(geometry=Point((-3.68, 40.41))))`

as documented at https://github.com/jazzband/geojson#geojson-encoding-decoding

Hope that helps.

[2020-07-08 21:54] nnseva opened #145 "`utils.coords()` can not process GeometryCollection"
[code]

[2020-07-15 12:26] #145 closed

[2020-08-07 13:17] tirkarthi opened #150 "encoding parameter to json.loads has been deprecated and removed in Python 3.9"
encoding parameter has been deprecated and removed in Python 3.9. `geojson.loads` internally uses `json.loads`. This will cause test failure.

https://github.com/jazzband/geojson/blob/3cef47cf977320aace537bf4b154f5c61ef9afb2/tests/test_features.py#L85

Ref :  https://github.com/python/cpython/pull/18075

**Sample fa**

[code]

[2020-08-08 00:14] rayrrr commented on #150
@tirkarthi thank you for submitting this issue and PR. I think it should be fine but I am going to take a bit of time this weekend to consider "Chesterton's Fence" and make sure removing the utf-8 encoding thing is all good and then will merge or circle back.

[2020-08-10 04:36] #150 closed

[2020-11-18 17:00] sbland opened #153 "Using the FeatureCollection class in a dataclass then trying to use asdict fails"
I'm trying to store an instance of a feature collection inside a dataclass but when using the asdict function to parse the dataclass it fails with `TypeError: Object of type generator is not JSON serializable`

`Python Version 3.8.6`

Test case:
[code]

Stack trace:

[code]

[2020-11-18 20:33] dericke opened #154 "List-like behavior for FeatureCollections"
In almost all cases in which I am using a `FeatureCollection`, I'm only interacting with its `features` member. In fact, I typically wait until the last possible moment to construct a `FeatureCollection` because it's easier to just work with lists of `Features`. It would be a convenient shorthand to alias the methods of the features member within the main FeatureCollection class, so that rather th

[2020-11-25 17:03] chiphum commented on #154
I had the same thought when I worked with it for the first time.

[2020-11-25 20:05] rayrrr commented on #154
I don't know whether to accept this change to be honest. The [GeoJSON spec states](https://tools.ietf.org/html/rfc7946#section-3.3):

So this change, while convenient for some, might also cause confusion for others.

An alternate approach would be to set variables to be equal to the "features" members of the FeatureCollections. Since they are Python lists and variables are by reference, this would

[2020-11-25 22:32] dericke commented on #154
I can certainly understand the concern. My goal isn't to change anything already implemented in `FeatureCollection` or its superclasses, nor to hide or abstract away the structure of a FeatureCollection. I did mistakenly override the inherited `dict.clear()` in the related PR, which is now corrected. I was under the impression that implementing otherwise-unimplemented methods and operators would b

[2020-12-25 08:03] arsdragonfly commented on #136
Can confirm. `map_` functions should preserve properties.

[2021-03-03 16:49] dericke commented on #154
Closing this and the associated PR

[2021-03-03 16:49] #154 closed

[2021-03-06 22:39] Tasty213 opened #158 "Reduce resoloution of GeoJSON object [feature request]"
Hi,
I have a GeoJSON polygon that's made of 67,077 points. It's far too long to be used with the API of the website I'm trying to communicate with. It would be really useful if there was a function to reduce the resolution of the polygon.

[2021-03-08 13:00] TheGreatRefrigerator commented on #158
Hi @Tasty213,
i'm not one of the package managers and didn't work with this package yet, but am working on a very simliar thing right now.
There are several simplification algorithms already implemented in different packages, e.g. https://pypi.org/project/rdp/ for
douglas-peucker which you might be able to use with the provided mapping functionality (maybe..)

What i didn't come across yet, but wo

[2021-03-19 09:22] gutsytechster opened #159 "geojson.Feature returns invalid geometry"
Consider the following wkt geometry

[code]
I have performed following operations on it

[code]
The `geojson_feature` represent itself as `valid`. However the geometry it provides, is an invalid one. I am not sure what could be the reason for this behavior. Can someone please help here?

[2021-03-19 18:26] krishnaglodha opened #160 "geojson.utils.generate_random not working correctly for polygon with boundingBox"
I'm trying to send custom values in boundingBox, to generate random geometry.  The functions seems to be working correctly  for Point and Linestring, but having problem in Polygon

<img width="782" alt="Screenshot 2021-03-19 at 11 56 01 PM" src="https://user-images.githubusercontent.com/47075664/111826429-ad00f280-890e-11eb-8b80-d8b1d0a748a0.png">
<img width="1004" alt="Screenshot 2021-03-19 at 11

[2021-03-29 09:47] asencis opened #161 "Does this package contain any sort of smoothing functionality..."
Just wondering, I can't see anything in the documenation but we're just wondering if there is anything inside this package which allows for smoothing of GeoJSON by some sort of "precision factor"?

[2021-03-31 15:19] rayrrr commented on #161
Hi @asencis, yes, the precision feature is documented here: https://github.com/jazzband/geojson#default-and-custom-precision

[2021-03-31 15:19] #161 closed

[2021-05-06 19:38] Amertz08 commented on #160
I think I might also be having the same issue. We have a db constraint that does not allow certain lat/long points to be crossed. I was hoping to restrict it via the bounding box.

The following error is generated via a db procedure. You can see the point generated.
[code]

This is the call
[code]

[2021-05-12 09:35] ragazzojp opened #162 "Type of `coordinates` for `Polygon` should be list of list of tuples"
PyCharm complains that:

[code]

is invalid because it believes the `__init__` method of `Polygon` expect either a tuple, or a list of tuples. I can't spot any type annotation in the project and I don't know where it reads this hint, if not from the docstring.

If this is the case, we should make clear that list of list of tuple is needed for `Polygon` and I think also `MultiLineString`.

I'd intr

[2021-05-25 09:19] Creatium opened #163 "UTF-8 \u escaping"
While trying to create Features with properties that have UTF-8 characters, they get encoded in to \u strings.

Way to replicate:
- create a` Feature(geometry=point)`
- add a property with UTF-8 characters `feat["properties"]["name"] = ąčęėįį`
- print the result (no dumps, just basic print)

Is this an issue or am I missing something?

[2021-05-31 12:02] hhoeflin commented on #136
To add to this ... the returned object is not actually a "FeatureCollection" or "Feature" object, but instead the dictionary encoded version. In practice this can be seen e.g. during comparison, where one encodes coordinate-tuples to tuples, and not to lists - as in the example above.

[2021-06-01 08:22] devleaks opened #164 "Invalid GeoJSON type set on subclassing"
Hello,

When we create a subclass of a valid geojson class (ex. LineString), the subclass' type is not set to a valid GeoJSON type:

[code]

Please notice the "type": "Line" (which does not exist in GeoJSON) instead of "type": "LineString".

P.

[2021-06-24 23:47] #22 closed

[2021-07-01 14:20] hhowe29 commented on #133
+1. Working with precision AG data where the GPS coordinates were corrected with RTK down to 1 inch accuracy. Need a clean way to override the default precision of 6. The workaround is getting us by.

[2021-08-05 06:36] sackh commented on #163
I am also getting the same issue.
Example:
[code]
output:
[code]

[2021-08-08 04:29] rayrrr commented on #163
Thank you for reporting this issue. I have replicated the bug and we are putting a fix in place for this.

[2021-08-08 04:36] rayrrr commented on #163
@Creatium and @sackh a fix has been merged to master, please give it a try and confirm if possible, thanks.

[2021-08-08 07:07] sackh commented on #163
@rayrrr Thanks for the quick fix, this works!

[2021-08-18 21:04] kylebarron opened #167 "Feature request: Static type support using TypedDict"
👋

Recent versions of Python support optional static typing, including [TypedDict](https://www.python.org/dev/peps/pep-0589), a way to define the types of properties on a dictionary. I see this project already [requires 3.6 or higher](https://github.com/jazzband/geojson/blob/0041e1d868ec51571800d003888b331c0e488f3f/setup.py#L51), and a backport of TypedDict is in `typing-extensions` for Python 3.6

[2021-09-01 13:55] rayrrr commented on #167
Hi @kylebarron good suggestion. Given that the [objects defined in the GeoJSON spec (RFC7946)](https://datatracker.ietf.org/doc/html/rfc7946#section-3) are explicitly typed themselves, `TypedDict` could fit in here.

Please submit a PR if you still can;  be sure to include per-key type specifications for all `dict` data structures currently used by GeoJSON objects.

Thanks!

[2021-09-01 14:04] rayrrr commented on #164
Hi @devleaks what you are describing is expected and intended. The subclass you have created is no longer a valid GeoJSON type. There is no concept of "thickness" or "width" or "weight" of a `LineString` in GeoJSON. See [IETF RFC7946](https://datatracker.ietf.org/doc/html/rfc7946) for more details.

[2021-09-01 14:04] #164 closed

[2021-09-01 14:04] #163 closed

[2021-09-01 14:16] rayrrr commented on #160
Hello @krishnaglodha and @Amertz08 I have not been able to reproduce this error. `generate_random("Polygon", boundingBox=[-14, -14, 14, 14])` works as expected for me when I run it. If you can provide a code block that reproduces the error I will reopen this issue and investigate.

[2021-09-01 14:16] #160 closed

[2021-09-01 14:18] #141 closed

[2021-09-01 14:55] devleaks commented on #164
This is not a geojson issue. This is a python issue.
Vanilla LineString generates valid geojson code.
Please read my code. I derive a class from LineString, whatever the name and the reason.
From that moment on, LineString no longer generate valid geojson code (in spite of the fact that the derived class is still an instanceOf LineString.)
The issue is in the way you generate geojson inside LineSt

[2021-09-17 11:07] ragazzojp commented on #42
I think the suggestion is to return one of the classes `Point`, `LineString`, ... so concrete classes. The return type of the function should be `Geometry`, if I'm not mistaken.

Related to this request, it would be nice to have a standalone function to check if a Mapping containing `type` and `coordinates` is indeed a valid GeoJSON. For this I think I'll open a new issue.

[2021-09-24 14:27] marrog opened #168 "How to validate if file is geojson, not normal json?"
Hi!

How can i use the package to validate if some file is geojson and not normal json (without geometric types included)?
What Im currently doing is:

[code]

In this way every normal json file is recognized as geojson. Please let me know!

Thank you!

[2021-09-28 15:13] marrog commented on #168
Ok, i did it by using another package (If someone's interested: https://pypi.org/project/gjf)

[2021-09-28 15:13] #168 closed

[2021-12-30 18:36] 60south opened #173 "Feature coordinates accept numpy float64 but float32 is "not a JSON compliant number""
Hi. I'm new to GeoJSON and still learning Python.

I'm reading in coordinate data from various sources. Some arrives as numpy float32 type. Attempting to create a geojson point or polygon using float64 works fine, while float32 produces an error: "ValueError: 1.0 is not a JSON compliant number" (see example below).

The error is very confusing, and it took a long time to figure out what it was com

[2022-01-11 03:31] phodina opened #175 "Failing test test_features.FeaturesTest"
Hi,
I'm porting the package to GNU Guix. One of the tests `test_features.FeaturesTest` is failing.

Any suggestion on how to fix it?

[code]

[code]

[2022-02-09 17:45] nellessen commented on #135
The behaviour of automatically rounding coordinates caused a lot of trouble. I did not expect that at all and I don't like this default behaviour at all.

Here is an example of a polygon that gets invalid after parsing it with `geojson`:
[code]
which becomes this with default precision 6:
[code]

BigQuery through an error on the rounded one:
[code]

[2022-02-09 17:51] nellessen commented on #135
Nice idea. I was also surprised that you cannot configure the default precision. And I am really surprised that the is not one word about precision in the docs!

https://python-geojson.readthedocs.io/en/latest/search.html?q=precision&check_keywords=yes&area=default

[2022-02-21 12:09] joe-jordan commented on #135
I've suggested a fix for this, using Roger Lew's patch that he mentions above at PR #177 . It's currently stuck as I'm a new contributor, this is just a bump in case someone can take a look, thank you.

[2022-02-25 07:42] devleaks opened #178 "Subclassing from GeoJSON creates invalid GeoJSON"
Hello,

In base.py/GeoJSON, the line:

`self["type"] = getattr(self, "type", type(self).__name__)`

leads to the creation of invalid GeoJSON in subclassing from GeoJSON.

Here is an illustration:

[code]

Issue is of course using `type(self).__name__` as a default value.

It is very anoying because [it prevents other packages](https://github.com/omanges/turfpy/issues/97) from not recognizing valid

[2022-02-28 17:25] devleaks commented on #178
Hugly workaround is to insert proper type when subclassing:
[code]

[2022-02-28 18:18] rayrrr commented on #178
Hi @devleaks thanks for the issue. https://datatracker.ietf.org/doc/html/rfc7946#section-7 states that

   FeatureCollection, Feature, Point, LineString, MultiPoint, Polygon,
   MultiLineString, MultiPolygon, and GeometryCollection.

[2022-02-28 18:19] #178 closed

[2022-03-01 14:27] devleaks commented on #178
Sorry, I think I did not express myself clearly. I don't want to and I do not extend GeoJSON.

We are talking python here. I want to extend a **python** class. Does GeoJSON standard also prevent that??
The problem is that this statement:

`self["type"] = getattr(self, "type", type(self).__name__)`

sets the value of the GeoJSON `type` attribute to the name of any python subclass you may derive fro

[2022-04-14 10:28] vijaynallagatla opened #179 "Allow NULL properties on GeoJSON features"
geojson allows "properties": { } but not "properties": null

The [GeoJSON spec](http://geojson.org/geojson-spec.html#feature-objects) says NULL is valid.

[2022-05-04 19:33] rayrrr commented on #179
@vijaynallagatla thanks for reporting this issue, but I was unable to reproduce it. However, mixing Python `None` and JSON `null` in a string will result in an error. Can you confirm or deny this was your case? If you believe there is still a bug regarding this, please post some example code and we can re-open this issue.

[code]

[2022-05-04 19:33] #179 closed

[2022-05-05 10:50] vijaynallagatla commented on #179
@rayrrr  thank you for looking into this issue.
Basically we're using the validation from geojson lib and when we pass the JSON string rep as `"properties": null` we're hitting an error. Which should be supported according to the GeoJSON spec. We're using this from a `Golang` service and validators in golang is compatible with it `"properties": null`.

[2022-05-06 14:47] #135 closed

[2022-05-07 01:33] rayrrr opened #181 "renaming `master` branch to `main`"
We will soon be renaming the default branch from `master` to `main`, in line with [new repositories created on GitHub](https://github.com/github/renaming). Some ideas how to do this are described [here](https://stevenmortimer.com/5-steps-to-change-github-default-branch-from-master-to-main/) and [here](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main).

[2022-05-07 01:35] rayrrr commented on #158
Thanks for the tip @TheGreatRefrigerator, I agree that https://github.com/fhirschmann/rdp already handles the use case you're describing, @Tasty213. Can you give that a try and report back?

[2022-05-07 01:36] #158 closed

[2022-05-07 01:42] rayrrr commented on #133
This is fixed on the master branch thanks to #177. `DEFAULT_PRECISION` can now be set at the package level. This feature will become available in the next release, sometime this month.

[2022-05-23 15:45] rayrrr opened #183 "README renovation"
This project's README is currently written in reStructuredText format, which provides for additional functionality that is lacking from Markdown. The main additional functionality used in this project is the ability to introspect code snippets and run unit tests on them (to help ensure valid code examples in documentation).

However, the README contains several links to map visualizations which ar

[2022-05-24 16:03] rayrrr commented on #183
After thinking this over a bit more, I'm hoping there's a solution that, with minimal added complexity, will allow us to have the best of both worlds. If we can parse the code examples in reStructuredText to unit test them, then in theory, we should also be able to parse the code examples to _run_ them, and then `geojson.dumps` the output of each, and then programmatically generate a markdown file

[2022-06-01 16:49] matkoniecz opened #184 "Consider editing repository setings to remove "Packages" section"
"Packages No packages published" is displayed right now, fortunately this pointless section can be removed.

Edit repo page config to remove it (cog next to the description).

I am not making a PR as it is defined in proprietary github settings, not in a git repository - and I have no rights to modify repo settings.

![Peek 2020-10-25 09-10](https://user-images.githubusercontent.com/899988/9710201

[2022-06-10 17:37] hugovk commented on #184
This is a task for the Jazzband roadie.

[2022-06-13 21:10] jezdez commented on #184
Fixed!

[2022-06-13 21:10] #184 closed

[2022-07-12 23:21] eggplants opened #186 "Next release?"
This project has undergone breaking changes, including the discontinuation of Python2 and support for the latest Python since its last release three years ago.
I know we can try the latest version of geojson with:
[code]
But I would like to see geojson's new release on PyPI...

[2022-09-18 12:14] SnehitDua opened #187 "Convert GeometryCollection to MultiPolygon"
Hi
Can anyone tell me how can i convert a GeometryCollection object to MultiPolygon or a single Polygon.
I am using Folium and it shows the following error:

UserWarning: GeoJsonTooltip is not configured to render for GeoJson GeometryCollection geometries. Please consider reworking these features: [{'NAME_1': 'Oaxaca', 'NAME_2': 'Dist. Juchitan', 'Total': 100, 'nombre': 'Dist. Juchitan, Oaxaca'},

[2022-09-18 12:50] #187 closed

[2022-10-26 01:21] trenton commented on #186
Due to [this change in 3.9](https://docs.python.org/3/whatsnew/3.9.html)

the version on PyPI is incompatible with 3.9 and later.

If there are breaking changes, I'd be all for a version 3.0.

[2022-11-07 21:34] trcmohitmandokhot commented on #173
I've been staring at this behavior for a bit. I would like to take this on. However, this is my first time tackling an issue. At the very minimum, I would like to advance the conversation around whether what @60south saw was expected behavior and is compliant with RFC 7946.

[2022-11-07 23:39] 60south commented on #173
In defense of the GeoJSON module, the problem appears related to the cpython 'isinstance' function which is used on line 50 of the GeoJSON geometry.py module.

Specifically, there is an inconsistency in how isinstance() treats numpy floats:

`import numpy as np`
`isinstance(np.float64(1), float)`

returns True, even though it's actually of type <class 'numpy.float64'>, not 'float', whereas:

`impo

[2022-11-08 14:52] trcmohitmandokhot commented on #173
@60south.
While, I don't yet know what to do about the issue, I looked some more into the numpy library and this is what I found.
I think the built-in python library function ```isinstance()``` is doing its job right.
However,
[numpy.double](https://numpy.org/doc/stable/reference/arrays.scalars.html#numpy.double )
The numpy.double (which on Linux x86_64 is numpy.float64) is an alias of numpy.float

[2022-11-08 14:59] trcmohitmandokhot commented on #173
There appear to be some previous interesting numpy issues, which also relate to this dtype inconsistency topic. I am attaching links here for some side-reading.
[ Data type precision problems? #5272 ](https://github.com/numpy/numpy/issues/5272)

[2022-11-08 15:20] rayrrr commented on #173
Thanks for reporting this, @60south. In section 3.1.1 of [RFC 7946](https://www.rfc-editor.org/rfc/rfc7946) it says (emphasis added):

   elements.  The first two elements are longitude and latitude, or
   easting and northing, precisely in that order and using **decimal
   numbers**.  Altitude or elevation MAY be included as an optional third
   element.

This implies that checking the that the c

[2022-11-08 15:56] trcmohitmandokhot commented on #173
Thank you for the guidance. I will take this up.

[2022-11-08 18:00] rayrrr commented on #173
One other note on the proposed solution, @trcmohitmandokhot. It uses numpy. We would rather not add numpy as a dependency. Let's try to find a way to fix it without numpy.

[2022-11-08 18:56] 60south commented on #173
@rayrrr, thanks. I agree that numpy should not be a dependency. Rather, we need an expansive, holistic solution where any Real floating point number passes the test, as it should.

I am cautious about equating the traditional RFC 7946 definition of *decimal* (i.e., not a fraction) with the python Decimal class, since I don't think they mean the same thing. In fact, looking at the [Decimal class de

[2022-11-10 03:29] trcmohitmandokhot commented on #173
I agree with @60south's and @rayrrr's analysis and suggestions.
The recommendation to stay away from adding numpy as a dependency is a valid point. The suggestion to handle this via `Numbers` abstract base class seems to me to be the most reasonable. I did some more testing for my own documentation purposes and here is summary of results to support @60south's proposed PR change.

[PEP 3141](https:

[2022-11-11 16:46] trcmohitmandokhot commented on #175
Hi, I am not sure if this is an issue due to an old version of the geojson package.
I tried running tests on python3.9.6 and here is the test log with latest version of code.
[tests_py396.log](https://github.com/jazzband/geojson/files/9991738/tests_py396.log)
Also it appears that #151 already fixed this issue.

[2022-11-14 04:30] trcmohitmandokhot commented on #167
I would like to help with this, and maybe as a first step watch/help advance someone else's source code if they've got it going.
 if no-one else has a draft PR that has this going, but can point me to a few references sources of implemetation, that would be awesome. I can read and attempt to model them.
Hoping to ask one clarification question though...
Is it desired via this enhancement that if s

[2022-11-22 19:52] imanshafiei540 commented on #160
Hey,
I'm working with the `generate_random` function in utils, and it's not working correctly.

python==3.9.2 (also tried with 3.10.8)
geojson==2.5.0

[code]

Output:
`{"coordinates": [[[43, 71], [-2, 34], [-47, 50], [-42, 8], [-64, -26], [-53, -79], [2, -44], [18, -20], [117, -23], [61, 25], [43, 71]]], "type": "Polygon"}`

Let me know if you need more information.

[2022-11-28 17:31] trcmohitmandokhot commented on #167
@rayrrr or other maintainers - Is this feature enhancement still of interest? If yes, I can work on it. Please advise! Thanks for your time.

[2022-11-28 17:45] kylebarron commented on #167
I never started work on this. I briefly looked into it and felt that there were issues with typed dict that would make it hard... but in Python 3.11 [`NotRequired` was added to typing](https://docs.python.org/3/whatsnew/3.11.html#pep-655-marking-individual-typeddict-items-as-required-or-not-required) and this functionality was [backported into `typing_extensions` for pre-3.11](https://peps.python.